<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %>|SampleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "help", static_pages_help_path %></li>
      <li><%= link_to "about", static_pages_about_path %></li>
      <li><%= link_to "contact", static_pages_contact_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
